/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.eot");
  src: url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.eot?#iefix") format("embedded-opentype"),
       url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.woff") format("woff"),
       url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.ttf") format("truetype"),
       url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/font/fontcustom_0825a5966019b16d5ddd829a34a2b39b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-appFeed:before,
.icon-expandCustom:before,
.icon-filterCustom:before,
.icon-folderIcon:before,
.icon-freezeColumns:before,
.icon-notifications:before,
.icon-hideColumns:before,
.icon-hideColumnsSvg:before,
.icon-revisionHistory:before,
.icon-sortAscending:before,
.icon-sortCustom:before,
.icon-sortDescending:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-appFeed:before { content: "\f100"; }
.icon-expandCustom:before { content: "\f109"; }
.icon-filterCustom:before { content: "\f107"; }
.icon-folderIcon:before { content: "\f103"; }
.icon-freezeColumns:before { content: "\f10d"; }
.icon-notifications:before { content: "\f102"; }
.icon-hideColumns:before { content: "\f105"; }
.icon-hideColumnsSvg:before { content: "\f10a"; }
.icon-revisionHistory:before { content: "\f101"; }
.icon-sortAscending:before { content: "\f10b"; }
.icon-sortCustom:before { content: "\f108"; }
.icon-sortDescending:before { content: "\f10c"; }
