@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

.centered {
  text-align: center;
}

.amcharts-bg {
  fill: url(#bg);
}

.dubaiDesc {
  text-align: center;
  padding: 10%;
  background: url(https://images.kojaro.com/2016/1/ce456dd9-4e83-4581-b891-c7150c52ebb3.jpg);
  background-size: cover;
  color:white;
  border-radius: 10px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.6),
               0px 4px 13px rgba(0,0,0,0.2),
               0px 9px 23px rgba(0,0,0,0.2);
}

.sydDesc {
  text-align: center;
  padding: 10%;
  background: url(https://www.flightcentre.com.au/cms_images/web_images/blog/fc/sydney-bridge.jpg);
  background-size: cover;
  color:white;
  border-radius: 10px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.6),
               0px 4px 13px rgba(0,0,0,0.2),
               0px 9px 23px rgba(0,0,0,0.2);
}

.beijingDesc {
  text-align: center;
  padding: 10%;
  background: url(http://www.hoganlovells.com/~/media/hogan-lovells/images/miscellaneous-images/istock_67371095_xxxlarge_700x425.jpg);
  background-size: cover;
  color:white;
  border-radius: 10px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.6),
               0px 4px 13px rgba(0,0,0,0.2),
               0px 9px 23px rgba(0,0,0,0.2);
}

div#__AmCharts_React_1__ {
  margin-top: 2em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
  transform: none;
}

.ui.category.search>.results .category .result:hover, .ui.search>.results .result:hover {
  background: hsla(0, 0%, 0%, 0.1);
}

.ui.four.cards>.card {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui.four.cards>.card:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
}

.ui.label, .ui.labels .label {
  font-size: 1.1rem;
  margin: 0 0.5em;
  width: 100%;
  background: rgb(245, 245, 245);
  text-align: right;
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.search>.results .result {
  padding: 0.5em 0.5em;
}

.ui.search>.results .result .image {
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.search>.results .result .image img {
  height: auto;
}

.ui.search>.results {
  width: 25em;
}

.ui.card.cards {
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.card>:first-child, .ui.cards>.card>:first-child {
  border-radius: 0 !important;
  border-top-right-radius: 12px !important;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.cardSocialIcons {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.cardSocialIcons i:hover {
  color: rgb(255, 0, 157);
}
