@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

hr {
  border: 0;
  width: 60%;
  height: 1px;
  left: 10px;
  position: relative;
  opacity: 0.5;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #0c0b0b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #0c0b0b, #f0f0f0);
  top: 12px;
  margin: 0px auto 10px;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-weight: lighter;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.ui.animated.button .hidden.content {
  margin-top: -10px;
}

.buttonMenu {
  margin-top: -4px;
  display: flex;
  justify-content: center;
}

.ui.borderless.menu {
  margin: 0 !important;
}

.centered {
  text-align: center;
}

.amcharts-bg {
  fill: url(#map_background);
}

.US_Map_Info {
  text-align: center;
  padding: 2.5%;
  background: white;
  background-size: cover;
  color: #000;
  border-radius: 10px;
}

.AE_Map_Info {
  text-align: center;
  padding: 2.5%;
  background: white;
  background-size: cover;
  color: #000;
  border-radius: 10px;
}

.AU_Map_Info {
  text-align: center;
  padding: 2.5%;
  background: white;
  background-size: cover;
  color: #000;
  border-radius: 10px;
}

.CN_Map_Info {
  text-align: center;
  padding: 2.5%;
  background: white;
  background-size: cover;
  color: #000;
  border-radius: 10px;
}

div#__AmCharts_React_1__ {
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
  transform: none;
}

.ui.category.search>.results .category .result:hover, .ui.search>.results .result:hover {
  background: hsla(0, 0%, 0%, 0.1);
}

.ui.four.cards>.card {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui.four.cards>.card:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
}

.ui.label, .ui.labels .label {
  font-size: 1.1rem;
  margin: 0 0.5em;
  width: 100%;
  background: rgb(245, 245, 245);
  text-align: right;
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.search>.results .result {
  padding: 0.5em 0.5em;
}

.ui.search>.results .result .image {
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.search>.results .result .image img {
  height: auto;
}

.ui.search>.results {
  width: 25em;
}

.ui.card.cards {
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ui.card>:first-child, .ui.cards>.card>:first-child {
  border-radius: 0 !important;
  border-top-right-radius: 12px !important;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.cardSocialIcons {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.cardSocialIcons i:hover {
  color: #1cc8cf;
}
